html{
    scroll-behavior:smooth;
}
body{
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
}
.menu{
    position: relative;
    display: inline-block;
}
.btn-menu{
    padding: 10px;
    color: white;
    background: lightskyblue;
    border: 1px solid #000;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.btn-menu:hover{
    border-radius: 5px 5px 0 0;
    background: white;
    color: #000;
}
.btn-menu:focus{
    outline: none;
}
.menu-dropdown{
    display: none;
    position: absolute;
    top: 46px;
    width: 120px;
    background: #666;
    a{
        display: block;
        padding: 10px 0px;
        color: white;
        text-align: center;
        text-decoration: none;
        transition: .2s ease-out;
    }
    a:hover{
        background: #000;
        text-decoration: none;
        color: white;
    }
}
.menu:hover .menu-dropdown{
    display:block;
}
#home,#contato,#about{
    min-height: 100vh;
    display: grid;
    place-items: center;
    place-self: center;
    background: #f5f5f5;
    border-bottom: 1px solid #000;

    h1{
        font-size: 3em;
        font-weight: 300;
        text-align: center;
        width: 100%;
    }
    span{
        color: white;
        font-weight: 800;
        background: rgb(175, 71, 71);
        padding: 10px;
        text-decoration: underline;
    }
}